<main class="main">
    <section class="first-section">
        <img src="./../../../assets/logo_png_agricolab_white_200x200.png" alt="Logo Agricolab">
        <h1>Agricolab</h1>
        <div class="father">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="./../../../assets/avatar.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Integrante 1</h1>
                        <p>JAVA Developer</p>
                        <p>Descrição</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="./../../../assets/avatar.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Integrante 2</h1>
                        <p>DevOps Engineer</p>
                        <p>Descrição</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="./../../../assets/avatar.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Integrante 3</h1>
                        <p>Cloud Architect</p>
                        <p>Descrição</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="./../../../assets/avatar.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Integrante 4</h1>
                        <p>Angular Developer</p>
                        <p>Descrição</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="./../../../assets/avatar.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Integrante 5</h1>
                        <p>UX/UI Designer</p>
                        <p>Descrição</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="./../../../assets/avatar.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Integrante 6</h1>
                        <p>Data Scientist</p>
                        <p>Descrição</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>