<div class="container" [class.change]="showMenu" (click)="showMenu = !showMenu">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>

<nav @myInsertRemoveTrigger *ngIf="showMenu" class="nav" (click)="showMenu = !showMenu">
    <ul>
        <li><a [routerLink]="['']">Home</a></li>
        <li><a [routerLink]="['mapa']">Encontre produtores</a></li>
        <li><a [routerLink]="['time']">Nosso time</a></li>
        <li><a [routerLink]="['contato']">Contato</a></li>
    </ul>

    <a *ngIf="!user.idUsuario" [routerLink]="['login']" class="simple-button">Login</a>
    <a *ngIf="!user.idUsuario" [routerLink]="['cadastro']" class="simple-button">Cadastro</a>
    <a *ngIf="user.idUsuario" [routerLink]="['perfil']" class="simple-button">Perfil</a>
    <a *ngIf="user.idUsuario" (click)="logout()" class="simple-button">Sair</a>
</nav>
