<main class="main">
    <section class="first-section">
        <img src="./../../../assets/logo_png_agricolab_white_200x200.png" alt="Logo Agricolab">
        <h1>Agricolab</h1>
        <h3>Encontre produtores de agricultura familiar que estão próximos de você!</h3>
        <a [routerLink]="['mapa']" class="simple-button">Encontrar Produtores</a>
    </section>
    <section class="second-section">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea architecto temporibus culpa harum in tempora. Vitae eveniet reiciendis sit esse adipisci repellendus. Molestiae quasi minima numquam accusamus. Itaque, at quia?</p>
    </section>
    <section class="third-section">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea architecto temporibus culpa harum in tempora. Vitae eveniet reiciendis sit esse adipisci repellendus. Molestiae quasi minima numquam accusamus. Itaque, at quia?</p>
    </section>
</main>