.buttons, .form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input label {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.form-input input {
    border-bottom: 2px solid #00386f;
    padding: 0.5rem 0.75rem;
    background-color: rgba(255, 255, 255, 0.0);
}

.form-input input:hover {
    border-bottom: 2px solid #034d97;
}

.form-input input:focus {
    outline: none !important;
    border-bottom: 2px solid #036bd3;
}

.form-input input:-webkit-autofill { 
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000 !important;
}

.email-usado {
    margin: 0.5rem 0;
}

.buttons {
    margin-top: 5rem;
}

.invalid-input {
    border-bottom: 2px solid red !important;
    background-color: rgba(255, 0, 0, 0.1) !important;
}

.finished {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finished h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}