.perfil {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.perfil h1 {
    font-size: 2rem;
}

.perfil h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}